@using GlobalShop.Entity
@model Product
@{
    ViewBag.Title = "Hakkımızda";
}



    <!-- Sayfa İçeriği -->
    <div class="container mt-4">
        <h2>Hakkımızda</h2>
        <p>
            GlobalShop'a hoş geldiniz! Biz, müşterilerimize en iyi alışveriş deneyimini sunmayı hedefleyen lider bir çevrimiçi pazaryeri platformuyuz. Platformumuzda, ihtiyaçlarınıza ve taleplerinize hitap eden geniş bir ürün yelpazesi bulunmaktadır.
        </p>
        <p>
            GlobalShop olarak misyonumuz, kaliteli ürünleri rekabetçi fiyatlarla sunmak, hızlı teslimat ve mükemmel müşteri hizmetleri ile alışveriş deneyimini mükemmelleştirmektir. Hedefimiz, her zaman geri gelmek isteyen mutlu müşteriler yaratmaktır.
        </p>
        <p>
            Vizyonumuz, e-ticaret sektöründe global bir lider olmayı, yenilikçi ve güvenilir alışveriş çözümleriyle müşterilerimize hizmet vermeyi amaçlamaktadır.
        </p>
        <p>
            GlobalShop'u tercih ettiğiniz için teşekkür ederiz. Size yardımcı olmak ve aradığınız ürünü bulmanıza yardımcı olmak için sabırsızlanıyoruz!
        </p>
    </div>

  